body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(233, 233, 233);
    max-width: 30%;
    max-height: 30%;
    margin-left: 35%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; top: 20%; right: 40%;
}
form{
    height: 480px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 8%;
}
header{
    margin-top: 60px;
    margin-bottom: 30px;
}
main{
    margin-top: 5%;
    h2{
        color: #848484;
    }
    div{
        padding-left: 15px;
        margin: 30px 50px 20px 8px;
        display: flex;
    }
    img{
        margin: -5px 20px 1px 1px;
    }
    .loginbtn{
        text-decoration: none;
        color: white;
        background-color: #3366FF;
        border-radius: 3px;
        padding: 13px 40px;
    }
}

footer{
    font-size: large;
    margin-bottom: 10%;
    a{
        color: blue;
        padding: 10px;
        margin-left: 20px;
    }
}